.svg-Bitbucket-dims {
  width: 117px;
  height: 29px;

  &:hover path,
  &:focus path {
    fill: #5982E7;
  }
}
.svg-apple-watch-dims {
  width: 117px;
  height: 25px;
}
.svg-facebook-dims {
  width: 117px;
  height: 23px;
}
.svg-atlassian-dims {
  width: 117px;
  height: 4;
}
.svg-audi-dims {
  width: 117px;
  height: 29px;
}